<footer>
  <div class='container-fluid'>
    <div class='container marketing white-background'>
      <hr class='divider'>
      <p class='pull-right'>
        <a href='#'>Back to top</a>
      </p>
      <p>
        © 2018 CareerSeekers

        <!--
        <img src="https://rusic.com/assets/powered-by-rackspace-f1fb554d37eab67fe836a57b31eb552e0d5025576c48de0d0d17172ec1b40f5a.png" width="125" style="padding-left:10px">
-->
      </p>
    </div>
  </div>
</footer>
