<header>
  <div class='container-fluid white-background'>
    <div class='row'>
      <div class='col-md-7'>
        <div class='row'>
          <a href='/'>
            <img class='inline-display img-responsive' src="https://dl.dropboxusercontent.com/s/jas767yz3k1wusf/careerseekers-logo.png" hspace="10">
          </a>
        </div>

      </div>
    <!--  <div class='col-md-5 screen-adapter' >
        <div class='row padded-top '>
          <div class='col-md-12 '>
          <ul class='list-unstyled contact'>
              <li class='contact_phone'>
                <i class='fa fa-phone'></i>
                Main Office:
                <a href='tel:+02 8090 5765'>02 8090 5765</a>
              </li>

              <div class="email">
                <i class='fa fa-envelope'></i>
                    <a href="mailto:info@careerseekers.org.au"><i class="mail large square icon"></i>info@careerseekers.org.au</a>
                  </div>


              <li class='contact_email padded-top-small' style="font-family: Arial">
                <i class='fa fa-envelope'></i>
                <a href='mailto:info@careerseekers.org.au'>info@careerseekers.org.au</a>
              </li>


          </div>
        </div>
        <div class='row padded-top hidden-xs'>
          <p class='lead padded-right col-md-12'>

          </p>
        </div>
      </div>-->
    </div>
  </div>
  <nav class='navbar navbar-custom notrounded' role='navigation'>
    <div class='container-fluid'>
      <div class='navbar-header'>
        <button class='navbar-toggle' data-target='#bs-example-navbar-collapse-1' data-toggle='collapse' type='button'>
          <span class='sr-only'>Toggle navigation</span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
        </button>
      </div>
      <div class='collapse navbar-collapse' id='bs-example-navbar-collapse-1'>
        <ul class='nav navbar-nav'>
          {% nav 'site', no_wrapper: true, active_class: "active", bootstrap: true, depth: 2 %}
        </ul>
        <ul class='nav navbar-nav navbar-right visible-lg'>
          <li>
            <a class='social-media-icons' href='https://www.linkedin.com/company/careerseekers-new-australian-internship-program' target='_blank'>
              <span class='fa-stack fa-lg'>
                <i class='fa fa-square-o fa-stack-2x'></i>
                <i class='fa fa-linkedin fa-stack-1x'></i>
              </span>
            </a>
          </li>
          <li>
            <a class='social-media-icons' href='https://www.facebook.com/CareerSeekers-New-Australian-Internship-Program-878407625570190' target='_blank'>
              <span class='fa-stack fa-lg'>
                <i class='fa fa-square-o fa-stack-2x'></i>
                <i class='fa fa-facebook fa-stack-1x'></i>
              </span>
            </a>
          </li>
          <!--<li>
            <a class='social-media-icons' href='https://twitter.com/CareerTrackers' target='_blank'>
              <span class='fa-stack fa-lg'>
                <i class='fa fa-square-o fa-stack-2x'></i>
                <i class='fa fa-twitter fa-stack-1x'></i>
              -->
              </span>
            </a>
          </li>
          <li>
            <a class='social-media-icons' href='https://www.youtube.com/channel/UCZ7zXWMlTvRmxE4ISZx2tbQ' target='_blank'>
              <span class='fa-stack fa-lg'>
                <i class='fa fa-square-o fa-stack-2x'></i>
                <i class='fa fa-youtube fa-stack-1x'></i>
              </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
