<div class='page-header'>
  <!--<div class='fb-like pull-right visible-lg' data-action='like' data-href='https://www.facebook.com/CareerSeekers-New-Australian-Internship-Program-878407625570190' data-layout='button_count' data-share='true' data-show-faces='true'></div>
-->
  <h1>
    {% if page.seo_title %}
    {{ page.seo_title  | escape}}
    {% else %}
    {{ page.title  | escape}}
    {% endif %}
  </h1>
</div>
