---
title: Privacy Policy
slug: privacy
position: 9
listed: false
published: true
is_layout: false
seo_title: Privacy Policy
editable_elements:
---
{% extends parent %}
{% block main %}
<div class='container-fluid'>
  {% include page_header %}
  
  <p>
The following describes how CareerSeekers deals with personal information collected through our app. <br><br>

Personal information collected by CareerSeekers is handled in accordance with the Privacy and Personal Information Protection Act 1998 and the Health Records and Information Privacy Protection Act 2002 (“the Acts”).<br><br>

The CareerSeekers app automatically collects a certain amount of personal information about you when you are using our app. This privacy statement deals primarily with the automatic collection of data about you.<br><br>

<strong>1. Collection of information automatically logged </strong><br>

Automated collection of information – CareerSeekers may collect personal information and other data about you from your phone as you browse or otherwise interact with our app.<br><br>

The information collected by our app may include: <br>
<ul>
<li>Your identity and contact information</li>
<li>The dates and times that you use the app</li>
<li>The pages accessed and documents downloaded</li>
</ul>
CareerSeekers uses the data collected for statistical and business purposes such as diagnosing a fault and improving our services or when required to, for investigations. Information which is automatically collected may be published as aggregated (de-identified) information to assist with improving the services offered by CareerSeekers through our app.<br><br>

<strong>2. Storage and security of information</strong><br>
Information automatically collected by our app is stored in our cloud services. CareerSeekers also uses the services of third party service providers who store information in their systems.<br><br>

CareerSeekers has in place security measures based on a risk assessment process to protect against the loss, misuse, and alteration of the information. CareerSeekers also encrypts some information. <br><br>

Where you can access the CareerSeekers app using your login details, the secure login issued to you, the information about you which is held, or you add or amend, on the app, is protected by restricting access through that login. Accordingly, you must ensure that your login is not disclosed or made available to others.<br><br>

Relevant technical staff are able to access the logs created by servers for the purposes of collecting statistics, dealing with faults and improving the service and investigations.<br><br>

<strong>3. Use and disclosure</strong><br>
Information collected by the CareerSeekers’ app will only be used for the purpose for which it was collected in accord with this Privacy Statement.<br><br>
    
The information held by CareerSeekers third party services providers will be used and disclosed in accord with the terms of the service contract.<br><br>
    
CareerSeekers will not disclose this information concerning you to parties outside CareerSeekers except with your consent, or where required or authorised by law.<br><br>
    
Personal information collected through the CareerSeekers’ app which is no longer required by CareerSeekers, nor required by law to be retained, will be destroyed, as authorised by the disposal authorities issued under the NSW State Records Act 1998. <br><br>
    
<strong>4. Access to and correction of personal information</strong><br>
You have a right to request access to, and correction of, your personal information held by the CareerSeekers’ app. If you require more information about privacy in the CareerSeekers’ app, please consult CareerSeekers privacy policy on our website.<br><br>
    
<strong>5. Privacy complaints</strong><br>
If you wish to make a complaint about the way CareerSeekers has handled your personal information, please notify a CareerSeekers staff member at the CareerSeekers office: info@careerseekers.org.au. You are also able to make a normal complaint under the Privacy Acts.<br><br>
    
<strong>6. Breaches of security of CareerSeekers systems</strong><br>
If you have an urgent concern that the CareerSeekers app has been breached and personal information is not properly secured, please notify CareerSeekers immediately: info@careerseekers.org.au. 


  </p>
  
  <div class="col-md-12 test">
  </div>
  
</div>
{% endblock %}

{% block javascripts %}
<script>
	$(document).ready(function() {
		/*$.get('https://script.google.com/a/macros/careertrackers.org.au/s/AKfycbzRvDcA5yHTAFpLJ5EzVITaW8CFJ91DjQ_d-H9m7fUcB2SdqbU/exec')
		.done(function(data){console.log(data)});
		
		$.ajax({
			url: 'https://script.google.com/a/macros/careertrackers.org.au/s/AKfycbzRvDcA5yHTAFpLJ5EzVITaW8CFJ91DjQ_d-H9m7fUcB2SdqbU/exec',
			type: 'GET',
			crossDomain: 'TRUE',
			xhrFields: {
      			withCredentials: true
   			}
		}).done(function(){alert("done");});
		var url = 'https://script.google.com/a/macros/careertrackers.org.au/s/AKfycbzRvDcA5yHTAFpLJ5EzVITaW8CFJ91DjQ_d-H9m7fUcB2SdqbU/exec';
		$.getJSON(url+"?callback=?",
              {method:"populate_list"},
              function (data) { 
                alert(JSON.stringify(data)); 
              });
		});*/
		window.jsoncallBack = function(data) {
			//var parsing = JSON.parse(data);
			$(".test").append(data.dskfce);
			//console.log(data.link);
		}
		//var jsoncallBack = 'c'+Math.floor((Math.random()*100000000)+1);
		
		$.ajax({
			url: 'https://script.google.com/macros/s/AKfycbzRvDcA5yHTAFpLJ5EzVITaW8CFJ91DjQ_d-H9m7fUcB2SdqbU/exec?prefix=jsoncallBack',
			type: 'GET',
			crossDomain: 'TRUE',
			sync: false,
			dataType: 'jsonp',
			contentType: "application/json",
			xhrFields: {
      			withCredentials: true
   			},
   			success: function (json) {
   			var parser = JSON.parse(json);
        		console.log(parser);
    		},
    		error: function(jqXHR, textStatus, errorThrown) {
			   console.log("error: " + errorThrown);
			}
		});
		
		
		//src="https://script.google.com/macros/s/AKfycbzRvDcA5yHTAFpLJ5EzVITaW8CFJ91DjQ_d-H9m7fUcB2SdqbU/exec?&prefix=alert"
	});
</script>
{% endblock %}


